.Button {
  height: 100px;
  width: 300px;
  border-radius: 15px;
  font-size: 24px;
  outline: none;
  border: none;
  margin: 20px;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.53);
  }
}
