.Modal-background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal-window {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 700px;
  width: 500px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.67);
}

.Modal-text {
  text-align: left;
  padding: 0 40px;
}

.Modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;

  &:hover {
    color: grey;
  }
}

.Modal-buttons {
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  bottom: 20px;
}
