.ModalButton {
  background-color: #edf3fc;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 3px;
  outline: none;
  margin: 5px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #d9e4f3;
  }
}
